{% load i18n mezzanine_tags checkout_tags static %}
{% comment %}
Set up braintree.js to create a nonce for payment processing.

See also https://braintree.github.io/braintree-web/current/Client.html#request
and for paypal https://braintree.github.io/braintree-web/current/PayPal.html.

NOTE: This requires the following modifications to the 'checkout.html' template:

- id='checkout-form' on the form element,
- name='next' on the 'Next' submit button,
- name='back' on the 'Back' submit button.

If you override the 'checkout.html' template, make sure your template also
contains these changes.

{% endcomment %}

<script src="{% static "cartridge_braintree/js/jquery.payment.js" %}"></script>
<script type="text/javascript">
    $('#id_card_number').payment('formatCardNumber');
    $('#id_card_ccv').payment('formatCardCVC');
</script>
<script src="{% static "cartridge_braintree/js/braintree-3.85.2/client.js" %}"></script>
<script type="text/javascript">
    var client,
        form = $("#checkout-form"),
        nextButton = form.find(":submit[name='next']"),
        backButton = form.find(":submit[name='back']"),
        nonceField = $("#id_payment_method_nonce"),
        errorsField = $("#id_braintree_errors");

    function clearErrors() {
        // Clear previous errors
        errorsField.val("");
        $("#no_braintree").addClass('hidden');
        $("#paypal_popup_blocked").addClass('hidden');
    }

    $(function() {
        backButton.click(function() {
            // Clicking the 'back' button is always OK.
            clearErrors();
            // continue with form submission
            return;
        });

        nextButton.click(function(e) {
            // 'Next' button was clicked.
            e.preventDefault();

            clearErrors();

            // Disable the submit button to prevent multiple clicks
            nextButton.prop('disabled', true);

            // Validate card payment form
            var cardNumber = $('#id_card_number').val(),
                expiryMonth = $('#id_card_expiry_month').val(),
                expiryYear = $('#id_card_expiry_year').val(),
                cardCCV = $('#id_card_ccv').val(),
                allowedCartTypes = {{ settings.SHOP_CARD_TYPES|lower|safe }},
                cardType = '',
                errors = {};
            if (!cardNumber.trim()) {
                errors.cardNumber = 'blank';
            } else if ($.payment.validateCardNumber(cardNumber) === true) {
                cardType = $.payment.cardType(cardNumber);
                if (!allowedCartTypes.includes(cardType)) {
                    errors.cardNumber = 'invalid_type';
                }
            } else {
                errors.cardNumber = 'invalid';
            }
            if (expiryYear && $.payment.validateCardExpiry(expiryMonth, expiryYear) !== true) {
                errors.cardExpiry = 'invalid';
            }
            if (!cardCCV.trim()) {
                errors.cardCCV = 'blank';
            } else if (cardType && $.payment.validateCardCVC(cardCCV, cardType) !== true) {
                errors.cardCCV = 'invalid';
            }

            if ($.isEmptyObject(errors)) {
                // Create nonce for the card
                client.request({
                    endpoint: 'payment_methods/credit_cards',
                    method: 'post',
                    data: {
                        creditCard: {
                            number:  cardNumber,
                            expirationMonth:  expiryMonth,
                            expirationYear: expiryYear,
                            cvv: cardCCV,
                            options: {
                                validate: false
                            }
                        }
                    }
                }, function (err, result) {
                    // Set the nonce and errors in the form
                    if (err) {
                        errors.tokenizeCard = 'failed';
                        errorsField.val(JSON.stringify(errors));
                        console.error(_('Braintree request could not be processed.'));
                        console.error(err);
                    } else {
                        nonceField.val(result.creditCards[0].nonce);
                    }

                    // Resubmit the form to the server
                    // The card_number and card_ccv will not be submitted to the server,
                    // as the form inputs have no 'name' attribute.
                    // Instead the nonce and error messages are submitted to the server.
                    form[0].submit();
                });
            } else {
                errorsField.val(JSON.stringify(errors));
                // Re-enable the next button
                nextButton.prop('disabled', false);
                form[0].submit();
            }
        });

        braintree.client.create({
            authorization: "{{ client_token }}"
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(_("Braintree API could not be created."));
                $("#no_braintree").removeClass('hidden');
                return;
            }
            client = clientInstance;
        });
    });
</script>

{% if settings.BRAINTREE_PAYPAL_ACTIVATE %}
{% get_order_total as order_total %}
<script src="{% static "cartridge_braintree/js/braintree-3.85.2/paypal-modal.js" %}"></script>
<script type="text/javascript">
    $(function() {
        var cardButton = $("#card").find("button"),
            paypalButton = $("#paypal").find("button"),
            card = $("#card-details"),
            paymentMethod = $("#id_payment_method"),
            djangoReturnedErrors = form.find(".form-errors").length;

        // Disable the next button and hide the card details fieldset.
        nextButton.prop('disabled', true);
        card.addClass('hidden');

        function activateCardPayment() {
            // Show card details form, set payment method to card
            // and re-enable the next button.
            card.removeClass('hidden');
            paymentMethod.val('card');
            nextButton.prop('disabled', false);
        }

        // Show Card payment details when Django returned errors
        if (djangoReturnedErrors) {
            activateCardPayment();
        }

        cardButton.click(function() {
            activateCardPayment();
        });

        braintree.client.create({
            authorization: "{{ client_token }}"
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(_("Braintree API could not be created."));
                $("#no_braintree").removeClass('hidden');
                return;
            }
            
            braintree.paypal.create({
                client: clientInstance
            }, function (paypalErr, paypalInstance) {
                if (paypalErr) {
                    console.error(_('Error creating PayPal:'), paypalErr);
                    paypalButton.prop('disabled', false);
                    return;
                }
        
                clearErrors()

                paypalButton.prop('disabled', false);
            
                // When the button is clicked, attempt to tokenize.
                paypalButton.click(function() {
                    // 'PayPal' button was clicked.

                    // Disable the button so that we don't attempt to open multiple popups.
                    paypalButton.prop('disabled', true);
                    // Hide Card details form, set payment method to paypal
                    // and disable the next button and the paypal button.
                    card.addClass('hidden');
                    paymentMethod.val('paypal');
                    nextButton.prop('disabled', true);
                    paypalButton.prop('disabled', true);

                    // Create nonce
                    paypalInstance.tokenize({
                        flow: 'checkout',
                        amount: {{ order_total }}.toFixed(2),
                        currency: '{{ settings.BRAINTREE_PAYPAL_CURRENCY }}',
                        locale: '{{ LANGUAGE_CODE }}',
                        displayName: '{{ settings.CONTACT_NAME }}',
                        offerCredit: false,
                        offerPayLater: false,
                    }, function (tokenizeErr, payload) {
                        paypalButton.prop('disabled', false);
                        if (tokenizeErr) {
                            // Handle tokenization errors or premature flow closure

                            switch (tokenizeErr.code) {
                                case 'PAYPAL_POPUP_CLOSED':
                                case 'PAYPAL_POPUP_OPEN_FAILED':
                                    console.error(_('PayPal popup probably blocked by browser.'), tokenizeErr);
                                    $("#paypal_popup_blocked").removeClass('hidden');
                                    break;
                                case 'PAYPAL_ACCOUNT_TOKENIZATION_FAILED':
                                    console.error(_('PayPal tokenization failed. See details:'), tokenizeErr.details);
                                    break;
                                case 'PAYPAL_FLOW_FAILED':
                                    console.error(_('Unable to initialize PayPal flow. Are your options correct?'), tokenizeErr.details);
                                    break;
                                default:
                                    console.error(_('Error tokenizing:'), tokenizeErr);
                            }
                            paypalInstance.closeWindow();
                            paypalButton.prop('disabled', false);
                            return;
                        }
                
                        // Tokenization succeeded
                        // Set the nonce in the form
                        nonceField.val(payload.nonce);
                        paypalInstance.closeWindow();
                        paypalInstance.teardown();
                        form[0].submit();
                    });
                });
            });
        });
    });
</script>
{% endif %}
